body {
    margin: 0 auto;
    padding: 1em;
    max-width: 750px;
}

h1 {
    font-size: 140%;
}

article {
    position: relative;
    margin: 2em 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
}

h2 {
    font-size: 100%;
    padding-right: calc(24px + .5em);
}

h2:target {
    background-color: #FDFFD3;
}

h2 > a {
    position: relative;
}

h2 > a:hover::before {
    position: absolute;
    left: -3ex;
    content: '\2002\00a7\2002';
}

a {
    color: #3873AD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #F5F5F5;
    padding: 0 0.1em;
    border-radius: 3px;
}

pre.code {
    background-color: #F5F5F5;
    padding: 1em;
    overflow: auto;
}

.edit {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 1.5em;
    text-indent: -10em;
    overflow: hidden;
    background: center / 1em no-repeat url(edit.svg);
    opacity: .1;
}

h2:hover ~ .edit, .edit:hover {
    opacity: 1;
}

footer {
  font-size: 15px;
  line-height: 1;
  display: flex;
}

.cc0, .telegram {
  display: inline-block;
  color: transparent;
}

.cc0 {
  width: 80px;
  height: 15px;
  background-image: url(cc0.png);
}

.telegram {
  width: 60px;
  height: 15px;
  margin-right: .5em;
  background: 0 0 / 100% 100% url(telegram.png);
}

@media (prefers-reduced-motion: no-preference) {
    .edit {
        transition: opacity 250ms;
    }
}
